body {
    background-color: #2d2d2d;
    font-family: 'Arial';
}

h1 {
    margin-bottom: 40px;
}

form {
    background-color: white;
    width: 500px;
    margin-left: auto;
    margin-right: auto;
    margin-top: 200px;
    padding: 30px;
    border-radius: 15px;
    text-align: center;
}

form input[type="text"] {
    padding-left: 20px;
    margin-bottom: 30px;
    width: 430px;
    height: 40px;
}

form input[type="password"] {
    padding-left: 20px;
    margin-bottom: 15px;
    width: 430px;
    height: 40px;
}

form input[type="submit"] {
    background-color: rgb(223, 172, 76);
    border: none;
    width: 456px;
    height: 50px;
    margin-top: 15px;
    font: bold 16px Arial;
    margin-bottom: 10px;
}

form input[type="submit"]:hover {
    background-color: rgb(205, 153, 30);
}

.err {
    margin-left: auto;
    margin-right: auto;
    color: red;
    width: 450px;
    text-align: justify;

}

p {
    text-align: center;
}